:root
{
    --bkgrnd-clr:#0D1633;
    --brdr-clr:#343366;
    --txt-clr:#c7cde1;
    --btn-clr:#343E59;
}
body
{
    margin: 0;
    background-color: var(--bkgrnd-clr);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    transition: all 1s ease;
}
.main-outer-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px groove var(--brdr-clr);
    border-radius: 1.5rem;
    color: var(--txt-clr);;
    
    padding-inline:8rem;
    padding-block: 2rem;
    transition: all 1s ease-in-out;

    animation: swing 2s ease 0s 1 forwards ;
    transform-origin: center;
}
@keyframes swing {
    from
    {
        rotate: 45deg;
        translate:100rem;
    }
    50%
    {
        translate:-10rem;
        rotate: -10deg;
    }
    to{
        rotate:0deg;
        translate:0rem;
    }
}
.profile-picture
{
    width:6rem;
    height:6rem;
    margin-top: -12rem;
    border: 1px groove var(--brdr-clr);
    border-radius: 50%;
    background-color: var(--bkgrnd-clr);
}
.username-info-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.place-email-div
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.email
{
    font-weight:400;
}
.city-info
{
    margin-bottom: 3px;
}
.score-details
{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 4rem;
    transition: all 0.5s;
}
.win-details
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tie-details
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lose-details
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:4rem;
}
.more-details-button
{
    padding:1rem;
    border: none;
    border-radius: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: var(--txt-clr);
    background-color: var(--btn-clr);
    opacity: 0.7;
    cursor: pointer;

    transition: all 1s ease;
}
.more-details-button:hover
{
    opacity: 1;
}
.footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--txt-clr);

    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.links-div
{
    display: flex;
    flex-direction: row;
    gap: 25rem;
    margin-block: 2rem;
}
.links
{
    aspect-ratio: 2/2;
    height: 1.5rem;
    width: 1.5rem;
}
#linkedin
{
    width: 2rem;
}
.copyright
{
    margin-bottom: 1rem;
}
a
{
    text-decoration: none;
    color: var(--txt-clr);
    transition: all .5s ease;
}
a:hover{
    color: white;
}