
@media (max-width:475px)
{
    .main-outer-div
    {
        padding-inline: 5rem;
    }
}
@media (max-width:370px)
{
    .main-outer-div
    {
        padding-inline: 2rem;
    }
}
@media(max-width:267px)
{
    .profile-picture
    {
        width:3rem;
        height: 3rem;
    }
    .score-details
    {
        display: none;
    }
}
@media(max-height:579px)
{
    .main-outer-div
    {
        padding-block: 2rem;
    }
    .score-details
    {
        display: none;
    }
}
@media(max-height:440px)
{
    body
    {
        margin-top: 1rem;
    }
    .main-outer-div
    {
        margin-top:1rem;
        padding-block: 1rem;
    }
    .profile-picture
    {
        width: 5rem;
        height: 5rem;
    }
    .button-div
    {
        display: none;
    }
}
@media(min-width:1024px)
{
    .main-outer-div
    {
        scale: 1;
    }
}
@media(max-height:268px)
{
    .place-email-div
    {
        display: none;
    }
    .username
    {
        font-size: 1.3rem;
    }
}